#map {
  height: 700px;
  width: 700px;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.data-table {
  
  display:inline; 
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

footer {
  margin-top: 20px;
  text-align: center;
  background-color: #f8f8f8;
  padding: 10px 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin: 5px 0;
}


.leaflet-routing-alt {
  /* z-index: 10; */
  position: absolute;
  background-color: grey;
}

.route-filter-select {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  position:relative;
   top: 5%;
   right: 50%;
   z-index: 100; /* Ensure it's on top of the map */
  }

.big-select {
  width: 200px;
  height: 70px;
  font-size: 16px;
  padding: 5px;
  background-color: rgb(0, 26, 255);
}