#map {
  height: 800px;
  width: 1200px;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  
}

.data-table {
  
  display:inline; 
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.route-filter-select {
  position: relative;
   top: 1px; 
   right: 700px; 
   z-index: 1000; /* Ensure it's on top of the map */

  }


footer {
  margin-top: 20px;
  text-align: center;
  background-color: #f8f8f8;
  padding: 10px 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin: 5px 0;
}


.leaflet-routing-container {
  opacity: 0;
}

.route-filter-select {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  position:relative;
   top: 5%;
   right: 50%;
   z-index: 100; /* Ensure it's on top of the map */
  }

.big-select {
  width: 200px;
  height: 70px;

  font-size: 16px;
  padding: 5px;
  background-color: rgb(0, 26, 255);
}

.route-info {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  text-overflow: ellipsis;
  position: absolute;
  top: 10px;
  left: 950px;
  width: 200px;
  height: 100px;
}